#usuario-container {
  color: white;
}

#loading {
  margin-block: 150px;
}

#loading div {
  color: white;
}

#usuarioNotFound {
  display: grid;
  height: 200px;
  place-items: center;
}

#usuarioNotFound h1,
p {
  margin: 0 0 5px !important;
  color: white;
}

.usuario-card {
  padding: 15px;
  box-shadow: 1px 1px 3px #555;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.usuario-card img {
  height: 75px;
  flex: 0;
}

.usuario-detalhes-wrapper {
  margin: 15px 0 10px 0;
  box-shadow: 1px 1px 7px #454545;
  padding: 15px;
  border-radius: 5px;
}

.usuario-detalhes-wrapper h3 {
  width: fit-content;
  border-bottom: 3px solid white;
  margin-bottom: 10px;
}

.usuario-detalhes {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
